.container{
    font-family: 'Roboto Condensed', sans-serif;
}

.row {
    display: flex;
}

.column1-2{
    width: 50%;
}

.background1{
    background-image: url('../images/recipeform.jpg');
    background-size: cover;
}

.background2{
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}