.container{
    font-family: 'Roboto Condensed', sans-serif;
}

.row {
    display: flex;
}

.column1-4{
    background-color: #FDEAA6;
    width: 25%;
    height: 100vh;
    display: flex;
    align-items: center;
    border-right: solid 1px #7B4A2F;
}

.column3-4{
    background-color: aquamarine;
    width: 75%;
    height: 100vh;
}

.form-container{
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.form-input{
    width: 15vw;
    margin-bottom: 40px;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: solid 5px ;
}

.submit-btn{
    padding: 10px 15px;
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-weight: bold;
    background-color: #D6B790;
    border: none;
    border-radius: 5px;
}