.container{
    font-family: 'Roboto Condensed', sans-serif;
}

.row {
    display: flex;
}

.column1-4{
    background-color: #ffffff;
    width: 25%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.column3-4{
    background-image: url('../images/LoginImage.jpg');
    background-size: cover;
    width: 75%;
    height: 100vh;
}

.sign-up{
    background-image: url('../images/SignUp.jpg');
}

.form-container{
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.form-input{
    width: 15vw;
    margin-bottom: 40px;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: solid 5px ;
}

.form-input:focus {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

.submit-btn{
    padding: 10px 15px;
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-weight: bold;
    background-color: #D6B790;
    border: none;
    border-radius: 5px;
    transition: background-color 0.25s ease;
}

.submit-btn:hover{
    background-color: #FDF1C9;
}

.error{
    color: red;
}

.label{
    display: block;
}